{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> ONG Tomba Latas</title>
        <link rel="stylesheet" href="{% static "styles/reset.css" %}">
        <link rel="stylesheet" href="{% static "styles/ONGTombaLata.css" %}">
        <link rel="icon" href="{% static "img/tombalataTransparente.png" %}">
    </head>
    <body>
        <aside>
            <ul>
                <li class="animais"><a href="galeria.html">Animais resgatados</a></li>
                <li class="registro"><a href="registro.html">Registro de animais</a></li>
                <li class="home"><a href="ONGTombaLata.html">Home</a></li>
            </ul>
            <img class="logo" src="{% static "img/tombalataTransparente.png" %}">
        </aside>
        <main>
            <div class="quemsomos">
                    <img class="tema1" src="{% static "img/maisuma.png" %}">
                    <h1 class="texto1">Quem somos?</h1>
                        <p class="texto2">&nbsp &nbsp &nbsp &nbsp A ONG Tomba Latas é uma organização sem fins lucrativos que foi fundada em 2001 para oferecer auxílio aos animais que estão abandonados à sua própria sorte.Acreditamos que é uma obrigação para quem faz voluntarismo animal com recursos vindo exclusivamente de doações. Outro pilar do trabalho é a conscientização e a educação para com a vida animal.</p>
                    <h1 class="texto3">Missão</h1>
                        <p class="texto4">&nbsp &nbsp &nbsp &nbsp A missão da ONG Tomba Latas é articular e contribuir para que animais abandonados e resgatados de situações de risco, através de doação de ração e cuidados com a saúde dos animais, possam melhorar as condições em que vivem esses animais.</p>
                    <img class="tema2" src="{% static "img/missao.png" %}">
                    <h1 class="texto5">Nosso trabalho</h1>
                        <p class="texto6"> &nbsp &nbsp  A ONG Tomba Latas atua principalmente no resgate de animais feridos ou em situação de risco, recuperação e adoção. Mantemos um abrigo com cerca de 300 animais, entre cães e gatos, todos resgatados das ruas, onde eles são protegidos, alimentados e aguardam pela chance de serem adotados.
                         Nosso trabalho, no entato, não se resume a resgate e adoção. São muitos os objetivos, tais como:
                           <li> Defender os animais;</li>
                           <li> Zelar pelo Meio-Ambiente;</li>
                           <li> Acolher cães, gatos ou qualquer animal em situação de risco nas grandes cidades, trata-los e promover sua adoção ou reintegrá-los ao meio-ambiente;</li>
                           <li>Educar crianças e adultos sobre a importância de cuidar do meio-ambiente e respeitar a natureza e os animais;</li>
                           <li> Fiscalizar os órgãos públicos no cumprimento da Lei;</li>
                           <li> Denunciar crimes de maus-tratos ou qualquer outro previsto na Lei 9.605/98, Artigo 32.</li></p>
                    <h1 class="comoajudar"> Como posso ajudar?</h1>
                        <p>&nbsp &nbsp &nbsp &nbsp Nossa ONG costuma receber doações para colaborar com os cuidados e tratamentos de animais que chegam aqui muito debilitados. Este dinheiro é convertido em remédios, alimentos, dentre outras coisas de extrema necessidade para que o animal consiga ser adotado e saia daqui com saúde. Nossos colaboradores são todos voluntários portanto não revertemos esse dinheiro para nós mesmos. Além disso, é de extrema ajuda que todo animal encontrada em situações de risco sejam reportados a nós. Um ótimo jeito de nos ajudar é compartilhar com seus amigos e conhecidos os nossos bichos de estimação que estão para adoção. Para ajudar, basta entrar em contato! </p>
                   
            </div>

        </main>
        <footer class="rodape-pagina">
            <p class="telefone">Tel:(11) 970372050</p>
            <p class="endereco">Endereço: Rua Fernão do Porto, 39, Vila Progredior</p>
            <p class="email">E-mail: thabata.risso@usp.br </p>
            <a href="http://facebook.com/ongtombalatas"><img class="face" src="{%  static "img/1491579586-yumminkysocialmedia21_83091.png" alt="Facebook" %}"></a>
            <a href="http://twitter.com/ongtombalatas"><img class="twitter" src="{% static "img/twitter.png" alt="Twitter"%}"></a>
            <img class="logo" src="{% static "img/tombalataTransparente.png" %}">
        </footer>
    </body>
</html>