aside{
    color: rgb(255,255,255);
    margin:0;
    font-size:110%;
    font-weight:bold;
    font-family: "Open Sans Condensed", sans-serif;
    height:90%;
    background-image: linear-gradient(to right,rgb(255,255,255)-10%,rgb(0,40,150));
}
aside .logo{
    width:9%;
    position:relative;
    left:7%;
}
aside li{
	float:right;
	position:relative;
	left:-8%;
	margin:4%;
}
:link{
	text-decoration:none;
}
.home:hover, .registro:hover, .animais:hover{
	background-color:rgb(255,255,255);
	padding:1%;
	color:rgb(0,40,150);
	border-radius:20%;
}
aside a{
    color:inherit;
}

.quemsomos{
    position:relative;
    left:22%;
    width:55%;
    margin:3%;
}
.tema1{
    border-radius: 10px;
    float:left;
    width:260px;
    height:190px;
    margin-right:5%;
    margin-bottom:3%;
}
.tema2{
    border-radius: 10px;
    float:right;
    width:260px;
    height:190px;
    margin-right:5%;
    margin-left:5%;
    margin-bottom:3%;
}
.texto2, .texto4{
    position:relative;
    text-align:justify;
	padding:4%;
}
.texto1, .texto3{
	text-align:center;
}
.texto5{
	text-align:center;
}
.texto6{
	padding:4%;
}
.comoajudar{
	text-align:center;
	padding:4%;
}

h1{
    color:rgb(0,40,150);
    font-size:200%;
    font-weight:bold;
    font-family: "Open Sans Condensed", sans-serif;
}
p{
    font-family: "Open Sans Condensed", sans-serif;
    text-align: justify;
    font-size:19px;
    line-height:130%;
}
.quemsomos li{
	position:relative;
	left:6%;
	width:90%;
	font-size:19px;
	line-height:130%;
	text-align:justify;
	font-family:"Open Sans Condensed", sans-serif
}
.rodape-pagina{
    background-color:rgb(0,40,150);
	color: #F2FFFC;
	width: 100%;
	height:15%;
}
footer .logo{
    position:relative;
	left:10%;
	height:8%;
	width:6%;
}
.rodape-pagina p{
	float:right;
	color:rgb(255,255,255); 
	font-size:90%;
	margin:1%;
	position:relative;
	left:-10%;
}
.face{
	position:relative;
	left:55%;
	width:2.6%;
}
.twitter{
	position:relative;
	left:60%;
	width:3%;
}