aside{
    color: rgb(255,255,255);
    margin:0;
    font-size:110%;
    font-weight:bold;
    font-family: "Open Sans Condensed", sans-serif;
    height:90%;
    background-image: linear-gradient(to right,rgb(255,255,255)-10%,rgb(0,40,150));
}
aside .logo{
    width:9%;
    position:relative;
    left:7%;
}
aside li{
	float:right;
	position:relative;
	left:-8%;
	margin:4%;
}
:link{
	text-decoration:none;
}
.home:hover, .registro:hover, .animais:hover{
	background-color:rgb(255,255,255);
	padding:1%;
	color:rgb(0,40,150);
	border-radius:20%;
}
aside a{
    color:inherit;
}

.rodape-pagina{
    background-color: rgb(0,40,150);
	color: #F2FFFC;
	clear:both;
	position: absolute;
	bottom:-90%;
	width: 100%;
	height:15%;
}
footer .logo{
	position:absolute;
	left:10%;
	height:90px;
	width:80px;
}
.rodape-pagina p{
	color:rgb(255,255,255); 
	font-size:15px;	
	position:relative;
}
.telefone, .endereco, .email{
	position:absolute;
	left:35%;
	padding:7px;
}

h1{
	position:absolute;
	top:27%;
	left:37%;
	font-size:140%;
	color:rgb(0,40,150);
}
.story1{
	background-color: rgb(0,40,150);
	position:absolute;
	left:17%;
	top:93%;
	border: 20px solid  rgb(200,200,200);
	padding:20px;
	width:60%;
}
.story2{
	background-color: rgb(200,200,200);
	position:absolute;
	left:17%;
	top:33%;
	border: 20px solid  rgb(0,40,150);
	padding:20px;
	width:60%;
}
.story2 img{
	width:55%;
}

.story2 h2{
	position:absolute;
	left:70%;
	top:0%;
	padding:10px;
	font-size:190%;
}

.story2 p{
	position:absolute;
	left:55%;
	top:15%;
	padding:10px;
	font-size:120%;
    text-align: justify;
}
.story1 img{
	position:relative;
	left:68%;

}
.story1 h2{
	position:absolute;
	top:0%;
	color: rgb(255,255,255);
	font-size:190%;
	padding:10px;
}

.story1 p{
	position:absolute;
	top:15%;
	color: rgb(255,255,255);
	padding:10px;
	font-size:120%;
	width:60%;
	text-align:justify;
}
.face{
	position:absolute;
	left:70%;
	top:33%;
	width:2.6%;
}
.twitter{
	position:absolute;
	left:75%;
	top:30%;
	width:3%;
}